Django==4.2.*
Pillow==10.4.*
bleach==6.1.*
pytest==8.*
pytest-django==4.*
django-widget-tweaks==1.5.*
django-allauth==0.63.*

# Production WSGI server
gunicorn==21.2.*
# Static files serving for production
whitenoise==6.7.*

# Database URL parsing and Postgres driver
dj-database-url==2.2.*
psycopg2-binary==2.9.*
